/* Variables */
:root {
    --light-background-color: white;
    --light-text-color: black;
    --light-surface-color: #d6d6d6;

    --dark-background-color: #121212;
    --dark-text-color: #f1f1f1;
    --dark-surface-color: #232323;

    --hover-color: #8ecae6;
    --link-color: #0000ff;
}

/* Fonts */
.zain-extralight {
    font-family: "Zain", sans-serif;
    font-weight: 200;
    font-style: normal;
}

.zain-light {
    font-family: "Zain", sans-serif;
    font-weight: 300;
    font-style: normal;
}

.zain-regular {
    font-family: "Zain", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.zain-bold {
    font-family: "Zain", sans-serif;
    font-weight: 700;
    font-style: normal;
}

.zain-extrabold {
    font-family: "Zain", sans-serif;
    font-weight: 800;
    font-style: normal;
}

.zain-black {
    font-family: "Zain", sans-serif;
    font-weight: 900;
    font-style: normal;
}

.zain-light-italic {
    font-family: "Zain", sans-serif;
    font-weight: 300;
    font-style: italic;
}

.zain-regular-italic {
    font-family: "Zain", sans-serif;
    font-weight: 400;
    font-style: italic;
}

/* Page-wide */
body {
    background-color: var(--light-background-color);
    transition: background-color 0.3s, color 0.3s;
    color: var(--light-text-color);
}

.link {
    text-decoration: none;
    color: var(--link-color);
}
.link:visited {
    color: var(--link-color);
}

/* Header */
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 90%;
    margin: 0px auto;
}

.headerLogo img {
    display: block;
    width: 50px;
    border-radius: 50%;
    transition: transform 200ms ease;
}

.headerLogo img:hover{
    transform: scale(1.1);
}

.navBar {
    background-color: var(--light-surface-color);
    border-radius: 25px;
    padding: 10px 20px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    transition: background-color 300ms ease;
}

.navBar a {
    color: black;
    margin: 0px 15px;
    font-size: 18px;
    text-decoration: none;
    transition: color 300ms ease, font-size 200ms ease;
}

.navBar a:hover {
    color: var(--hover-color);
    font-size: 1.2em;
}

.darkModeToggle {
    background: none;
    border: none;
    cursor: pointer;
    width: 40px;
    padding: 0;
}

.darkModeToggle img {
    width: 100%;
    display: block;
    transition: transform 200ms ease;
}

.darkModeToggle img:hover {
    transform: scale(1.1);
}

.darkModeToggle img:active {
    transform: scale(1);
}

/* Adjust font sizes */
h1 {
    font-size: 40px;
}

h2 {
    font-size: 32px;
}

h3 {
    font-size: 24px;
}

p {
    font-size: 18px;
}

/* Dark mode styles */
body.dark-mode {
    background: var(--dark-background-color);
    color: var(--dark-text-color);
}
body.dark-mode .navBar {
    background-color: var(--dark-surface-color);
}

body.dark-mode .navBar a {
    color: var(--dark-text-color);
}

body.dark-mode .navBar a:hover{
    color: var(--hover-color);
}