/* Fonts */
.zain-extralight {
    font-family: "Zain", sans-serif;
    font-weight: 200;
    font-style: normal;
}

.zain-light {
    font-family: "Zain", sans-serif;
    font-weight: 300;
    font-style: normal;
}

.zain-regular {
    font-family: "Zain", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.zain-bold {
    font-family: "Zain", sans-serif;
    font-weight: 700;
    font-style: normal;
}

.zain-extrabold {
    font-family: "Zain", sans-serif;
    font-weight: 800;
    font-style: normal;
}

.zain-black {
    font-family: "Zain", sans-serif;
    font-weight: 900;
    font-style: normal;
}

.zain-light-italic {
    font-family: "Zain", sans-serif;
    font-weight: 300;
    font-style: italic;
}

.zain-regular-italic {
    font-family: "Zain", sans-serif;
    font-weight: 400;
    font-style: italic;
}

/* Page-wide */
body {
    background-color: white;
    color: black;
    transition: background-color 0.3s, color 0.3s;
}

/* Header */
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 90%;
    margin: auto auto;
}

.headerLogo img {
    width: 50px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: transform 200ms ease;
}

.headerLogo img:hover{
    transform: scale(1.1);
}

.header a {
    text-decoration: none;
}

.navBar {
    background-color: #d6d6d6;
    border-radius: 25px;
    padding: 10px 20px;
    min-height: 30px;
    display: flex;
    margin: 20px auto;
    align-items: center;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    transition: background-color 300ms ease;
}

.navBar nav a {
    color: black;
    margin: 0px 15px;
    font-size: 18px;
    transition: color 300ms ease, font-size 200ms ease;
}

.navBar nav a:hover {
    color: #8ecae6;
    font-size: 1.2em;
}

.darkModeToggle {
    background: none;
    border: none;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
}

.darkModeToggle img {
    height: 50px;
    transition: transform 200ms ease;
}

.darkModeToggle img:hover {
    transform: scale(1.1);
}

.darkModeToggle img:active {
    transform: scale(1);
}

/* Main Content */
h1 {
    font-size: 40px;
}

h2 {
    font-size: 32px;
}

p {
    font-size: 18px;
}

/* Dark mode styles */
body.dark-mode {
    background: #121212;
    color: #f1f1f1;
}
body.dark-mode .navBar {
    background-color: #232323;
}

body.dark-mode .navBar nav a {
    color: #f1f1f1;
}

body.dark-mode .navBar nav a:hover{
    color: #8ecae6;
}